@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
*{ 
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "poppins",sans-serif;
    text-decoration: none;
}
body{
    background: url(background.jpg);
    background-size: cover;
}body{
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow-x: hidden;
    color: white;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    padding: 1rem 9%;
    background: rgba(255, 255, 255, 0.54);
    /* filter: drop-shadow(10px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.nav-panel{
    display: flex;
    width: auto;
    
}
.nav{
    display: flex;
    gap: 10px;
    position: fixed;
    right: 10px;
}
.nav-logo a{
    font-weight: 600;
    font-size: 45px;
}

.nav a{
    font-size: 20px;
    padding-top:15px;
}
.nav button{
    border:1px solid  rgba(255, 255, 255, 0.3);
    background-color: rgb(59, 204, 204);
    border-radius: 30px;
    padding: 10px 20px;
}
.nav button:hover{
    background-color: rgb(59, 204, 204);
    color: white;
    cursor: pointer;
}
.nav button:active{
    background-color: rgb(59, 204, 204);
    color: white;
    cursor: pointer;
}